<div class="page-title">

    <div class="title-env">
        <h1 class="title">DataTable</h1>
        <p class="description">Dynamic table variants with pagination and other controls</p>
    </div>
</div>


<!-- Basic Setup -->
<div class="panel panel-default panel-shadow" cg-busy="{promise:savePromise,message:'Saving...'}">
    <div class="panel-heading">
        <h3 class="panel-title">Basic Setup</h3>
        <a href="" class="btn btn-info" ng-click="save(true)" ng-disabled="myForm.$invalid" style="float:right; width:90px;">Save</a>
    </div>

    <div class="panel-body">

        <div class="btn-toolbar">

        </div>

        <form name="myForm" role="form" novalidate>
            <table class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th style="width:25;">Name</th>
                        <th style="width:25;">City</th>
                        <th style="width:25;">Email</th>
                        <th style="width:25;">Phone</th>
                        <th style="width:90px;">Actions</th>
                    </tr>
                </thead>

                <tbody class="middle-align">

                    <tr ng-repeat="item in orders" 
                        selection-model
                        selection-model-type="checkbox"
                        selection-model-mode="multiple-additive"
                        selection-model-selected-attribute="selected"
                        selection-model-selected-items="selectedItems"
                        selection-model-on-change="test(item)"
                        selection-model-cleanup-strategy="deselect">

                        <td>
                            <input class="form-control" name="name" type="text" ng-model="item.name" 
                                   required 
                                   ng-pattern="/^[A-Za-z0-9 ()-]+$/" 
                                   ng-maxlength="20">
                        </td>
                        <td>
                            <input class="form-control" type="text" ng-model="item.city"  
                                   ng-pattern="/^[A-Za-z0-9 ()-]+$/"
                                   ng-maxlength="20">
                        </td>
                        <td>
                            <input class="form-control" type="email" ng-model="item.email">
                        </td>
                        <td >
                            <input class="form-control" type="tel" ng-model="item.phone" ng-keyup="add2(item)">
                        </td>
                        <td>
                            <a tabindex="-1" href="" class="btn btn-danger btn-sm" ng-click="remove(item)">Delete</a>
                        </td>

                    </tr>
                </tbody>
            </table>
            <div>
                <a class="btn btn-white" ng-click="add()" style="float:left; width:90px;">Add</a>
            </div>

        </form>

    </div>
</div>