<div class="page-title">

    <div class="title-env">
        <h1 class="title">Widgets</h1>
        <p class="description">Dynamic table variants with pagination and other controls</p>
    </div>
</div>



<!-- Basic Setup -->
<div class="panel panel-color panel-info panel-shadow col-sm-12">
    <div class="panel-heading">
        <h3 class="panel-title">Algemeen</h3>
    </div>
    <div class="panel-body">
        <div class="btn-toolbar">
        </div>
        <form name="myForm" role="form" class="form-horizontal" novalidate>

            <div class="form-group"> 

                <div>
                    <label class="col-sm-2 control-label">Naam</label> 
                    <div class="col-sm-10"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 

                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Achternaam</label> 
                    <div class="col-sm-10"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 

                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Adres</label> 
                    <div class="col-sm-10"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 

                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Postcode</label> 
                    <div class="col-sm-2"> 
                        <input type="text" class="form-control"> 
                    </div> 

                    <label class="col-sm-1 control-label">Plaats</label> 
                    <div class="col-sm-7"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 

                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Select list</label>
                    <div class="col-sm-6"> 
                        <select class="form-control"> 
                            <option>Option 1</option> 
                            <option>Option 2</option> 
                            <option>Option 3</option> 
                            <option>Option 4</option> 
                            <option>Option 5</option> 
                        </select>
                    </div> 
                </div> 


                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Radio buttons</label>
                    <div class="col-sm-6"> 
                        <div class="radio"> 
                            <label> 
                                <input type="radio" name="radio-1" checked="">
                                Default radio
                            </label> 
                        </div> 
                        <div class="radio"> 
                            <label> 
                                <input type="radio" name="radio-1">
                                Another one
                            </label> 
                        </div> 
                    </div> 
                </div>

            </div> 

        </form>
    </div>

</div>


<!-- Basic Setup -->
<div class="panel panel-color panel-info panel-shadow col-sm-12">
    <div class="panel-heading">
        <h3 class="panel-title">Algemeen</h3>
    </div>
    <div class="panel-body">
        <div class="btn-toolbar">
        </div>
        <form name="myForm" role="form" class="form-horizontal" novalidate>

            <div class="form-group"> 

                <div>
                    <label class="col-sm-2 control-label">Naam</label> 
                    <div class="col-sm-10"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 

                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Achternaam</label> 
                    <div class="col-sm-10"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 

                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Adres</label> 
                    <div class="col-sm-10"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 

                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Postcode</label> 
                    <div class="col-sm-2"> 
                        <input type="text" class="form-control"> 
                    </div> 

                    <label class="col-sm-1 control-label">Plaats</label> 
                    <div class="col-sm-7"> 
                        <input type="text" class="form-control"> 
                    </div> 
                </div> 

                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Select list</label>
                    <div class="col-sm-6"> 
                        <select class="form-control"> 
                            <option>Option 1</option> 
                            <option>Option 2</option> 
                            <option>Option 3</option> 
                            <option>Option 4</option> 
                            <option>Option 5</option> 
                        </select>
                    </div> 
                </div> 


                <br>
                <br>
                <br>

                <div>
                    <label class="col-sm-2 control-label">Radio buttons</label>
                    <div class="col-sm-6"> 
                        <div class="radio"> 
                            <label> 
                                <input type="radio" name="radio-1" checked="">
                                Default radio
                            </label> 
                        </div> 
                        <div class="radio"> 
                            <label> 
                                <input type="radio" name="radio-1">
                                Another one
                            </label> 
                        </div> 
                    </div> 
                </div>

            </div> 

        </form>
    </div>

</div>